


<html>
  
  <style>
   

html {
  font-family: 'Bahiana', cursive;
  background-color: $color1;
  background-image: url('https://cdn.essayplus.com/static/img/a-plus.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

    li {
    height:30px;
      width:60px;
      color:;
      background-color:red;
      
    }
    
  

img {
  height: 200px;
  width: 200px;
  padding: 70px;
}

  </style>
  
  
  
<head>
<link href="https://fonts.googleapis.com/css?family=Bahiana" rel="stylesheet"> 
  
<title>A PLUS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>


<div class="container" ng-app="twitchTV" ng-controller="viewCtrl as vm">

  <header>
    <div id="logo">
      <div>
        <h1>A Plus Skate</h1>
      </div>
    </div>
    <div id="nav-bar">
      <nav>
        <ul>
          <li class="active"><a href="#">Home</a></li>
          <li ng-click="vm.showMenu()"><a href="#">Contact</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Shop</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
<!--     <div>
      <div ng-click="vm.showMenu()"><h3>menu<span class="fa fa-ellipsis-v" aria-hidden="true"></span></h3></div>
    </div> -->
    <main class="" ng-class="vm.toggleMenu">
      <div class="">
        <h1>collection</h1>
        <hr />
        
        <img src="https://s-media-cache-ak0.pinimg.com/236x/ab/8b/0b/ab8b0b5f78e767ff684d6bc9dce0d9b6.jpg">
        
        <img src="http://www.tactics.com/a/8gud/o/santa-cruz-other-dot-3-sticker.jpg">

        <img src="https://d23x084dcxncv3.cloudfront.net/skatehut/product/3572f2d8.Force%20Wheels%20Skateboard%20Sticker%20-%20Black.jpg/290x290.fit.Force%20Wheels%20Skateboard%20Sticker%20-%20Black.jpg">

        <img src="https://s-media-cache-ak0.pinimg.com/236x/ab/8b/0b/ab8b0b5f78e767ff684d6bc9dce0d9b6.jpg">
        
        <img src="http://www.tactics.com/a/8gud/o/santa-cruz-other-dot-3-sticker.jpg">

        <img src="https://d23x084dcxncv3.cloudfront.net/skatehut/product/3572f2d8.Force%20Wheels%20Skateboard%20Sticker%20-%20Black.jpg/290x290.fit.Force%20Wheels%20Skateboard%20Sticker%20-%20Black.jpg">
        <img src="https://s-media-cache-ak0.pinimg.com/236x/ab/8b/0b/ab8b0b5f78e767ff684d6bc9dce0d9b6.jpg">
        
        <img src="http://www.tactics.com/a/8gud/o/santa-cruz-other-dot-3-sticker.jpg">

        <img src="https://d23x084dcxncv3.cloudfront.net/skatehut/product/3572f2d8.Force%20Wheels%20Skateboard%20Sticker%20-%20Black.jpg/290x290.fit.Force%20Wheels%20Skateboard%20Sticker%20-%20Black.jpg">
      </div>
    </main>
  </section>
  <footer>
    
    <div>
      <div class="">
        <p>by John Saba</p>
      </div>
    </div>
  </footer>

</div>
</body>
</html>
