@import "compass/css3";
@import "//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css";


footer {
    /* just for demo */
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;
    text-align:center;
    padding:20px;
   /* just for demo */ 
  
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}


h2 {
  text-align: center;
  margin-top: 48px;
}

div {
  height: 300px;
  width: 5000;
  max-width: 100%;
  margin: 32px auto;
  overflow-x: hidden;
  overflow-y: scroll;
}



.fixed {
  background: url('http://i.istockimg.com/file_thumbview_approve/67723269/6/stock-illustration-67723269-cube-light-pattern-background-vector-background-blue-green.jpg');
  background-attachment: fixed;
}


.expand {
  height: 100%;
  width: 100%;
}

.extra-space {
  margin-bottom: 50px;
}

img {
  height:200px;
  width:250px;
  border-radius: 50%;
  display: inline-block;
}

h1 {
  text-transform: uppercase;
  font-family:'Archivo Black';
}
