@import "compass/css3";
@import "//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css";
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@import 'https://fonts.googleapis.com/css?family=Economica';


body{
  margin:0;
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  &:hover{
    & > .section{
      filter: brightness(15%);
    }
    & > .section:hover{
      filter: brightness(100%);
    }
  }
  
  .section{
    flex-grow: 1;
    position: relative;
    height: 100%;
    transition: all 0.4s;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    flex: 1;
    
    .cont_title{
      position:relative;
      margin: auto;
      width: 100%;
      height: 300px;
      text-align: center;
      margin-top: 35vh;
      h1{
        text-transform: uppercase;
        color: white;
        font-family: 'Economica', sans-serif;
        text-shadow: 1px 2px 5px rgba(0,0,0,0.5);
        font-size: 3.5vw;
        margin: 0;
        transition: font-size 0.3s;
        vertical-align: middle;
      }
      h3{
        text-transform: uppercase;
        font-family: 'Economica', sans-serif;
        font-size: 1.3vw;
        transition: all 0.3s;
        color: white;
      }
      
    }
    
    .cont_desc{
      position: relative;
      display: block;
      text-align: center;
      width: 60%;
      height: auto;
      margin: auto;
      opacity: 0;
      transition: opacity 0.4s;
      padding-top: 20px;
      p{
        margin: 0;
        font-family: 'Economica', sans-serif;
        color: white;
        font-size: 25px;
      }
    }
    
    &:hover{
      flex-grow: 1.5;
      transition: flex 0.4s;
      
      & > .cont_title h1{
        font-size: 5.3vw;
        transition: font-size 0.4s;
      }
      
      & > .cont_title h3{
        font-size: 1.6vw;
        transition: all 0.4s;
      }
      
      & > .cont_desc{
        opacity: 1;
        transition-delay: 1s;
        transition: opacity 0.8s;
      }
    }
    
    &:nth-child(1){
      background: red center;
    }
    &:nth-child(2){
      background: blue center;
    }
    &:nth-child(3){
      background: green center;
    }
   
  }
}
.nav {
	width:100% !important;
	left:0px;
	position:absolute;
	overflow:hidden;
	height:65px;
	background-color:rgba(255,255,255,.2);
	-webkit-box-shadow:0px 2px 1px rgba(50, 50, 50, 0.22);
	-moz-box-shadow:0px 2px 1px rgba(50, 50, 50, 0.22);
	box-shadow:0px 2px 1px rgba(50, 50, 50, 0.22);
	padding-right:20px;
}
.nav li {
	text-align:center;
	font-family: open sans;
	font-size: 20px;
	color: black;
	height:47.5px;
	padding-left:20px;
	padding-right:20px;
	cursor:pointer;
	padding-top:17.5px !important;
	float: left;
	list-style: none;
	font-weight: 200;
	border-left:1px solid rgba(0,0,0,.1);
	background-color:none;
	transition:background-color ease-in-out .5s;
	-moz-transition:background-color ease-in-out .5s;
	-webkit-transition:background-color ease-in-out .5s;
	-o-transition:background-color ease-in-out .5s;
	text-shadow: 0px -3px 3px rgba(255, 255, 255, 0.2);
}
.nav li a,a:visited,a:hover {
	color: black;
	text-decoration:none;
}
.nav li:first-child {
	font-weight:bold;
	border-left:none;
}

.nav li:hover {
	background-color:rgba(255,255,255,.2);
}
.nav li.active {
	background-color:rgba(255,255,255,.2);
}




h2 {
  text-align: center;
  margin-top: 48px;
}



.fixed {
  background-color: #90C2D6;
  height: 200px;
  background-attachment:fixed;
}


.expand {
  height: 100%;
  width: 100%;
}

.extra-space {
  margin-bottom: 50px;
}

img {
  height:200px;
  width:250px;
  border-radius: 50%;
  display: inline-block;
}

h1 {
  text-transform: uppercase;
  font-family:'Archivo Black';
}


#panel, #flip {
    padding: 2px;
    font-size: 18px;
    text-align: center;
    background-color: #263645;
    color: white;
    border: solid 1px #666;
    border-radius: 3px;
    font-family:'Archivo Black';
}

#panel {
    padding: 0px;
    display: none;
}
@keyframes move {
	0% { 
		background-position: 0 60%, 0 50%;
	}
	100% { 
	  background-position: 0 60%, 100% 50%;
	}
}

.nav-top{
height:5em;
background-color:#fff;
}

